body {
    background-color: #fdc3db;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/*headings*/

h1 {
    margin: 0px;
}

/*ID's*/
#mainHeading {
    float: left;
    padding: 16px;
    margin-left: 249px;
}

#topNav {
    background-color: #FC5D9D;
    text-align: center;
    margin-left: 290px;
    height: 40px;
    width: 320px;
    border-radius: 8px 8px 0px 0px;
    margin-top: 16px;
}

#navigation {
    background-color: #FC5D9D;
    text-align: center;
    height: 40px;
    border-radius: 8px;
}

#titleText {
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
}

#introText {
    text-align: center;
    width: 471px;
    margin: 0px auto;
    font-weight: 700;
    color: #fff;
}

#headerText {
    color: #fc2397;
    font-weight: 600;
}

#profilePicture {
    float: left;
    margin: 0px 0px 38px 0px;
}


#hobbieText {
    width: 380px;
    float: left;
}

#heroShot {
    display: block;
    margin-bottom: 16px;
    max-width: 100%;
    /* Ensure the image doesn't exceed its container */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 30px;
}


#funnyImage {
    float: left;
    border-radius: 7px;
}

#socials {
    width: 205px;
    height: 50px;
    float: left;
    background-color: #D9D9D9;
}

#pageContainer {
    width: 900px;
    margin: 0px auto 0px auto;
}

/*Categories*/
.highlight {
    color: #ff0000
}

.reset {
    clear: both;
}